<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='resultados.css') }}">
</head>
<body>
    <form action = "/" method = "POST">
        {% for pregunta in preguntas %}
        <label for="pregunta_{{ loop.index }}">{{ pregunta }}</label>
        <select id="pregunta_{{ loop.index }}" name="pregunta_{{ loop.index }}" required>
            <option value="d">Desacuerdo</option>
            <option value="i">Indiferencia</option>
            <option value="a">Acuerdo</option>
        </select>
        {% endfor %}
        <label type = "submit" value = "Completar">
    </form>
</body>
</html>
