<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='resultados.css') }}">
</head>
<body>
    <form action = "/" method = "POST">
        {% for pregunta in preguntas %}
        <label for="pregunta_{{ loop.index }}">{{ pregunta }}</label>
        <select id="pregunta_{{ loop.index }}" name="pregunta_{{ loop.index }}" required>
            <option value="d">Desacuerdo</option>
            <option value="i">Indiferencia</option>
            <option value="a">Acuerdo</option>
        </select>
        {% endfor %}
        
        <h2>Resultados de la Encuesta</h2>

        <div id="result-container">
            <p>Tus respuestas:</p>
            <ul>
                {% for num, respuesta in respuestas %}
                    <div><strong>Pregunta {{ num }}:</strong> {{ respuesta }}</div>
                {% endfor %}
            </ul>
        </div>
    
        <a href="/">Volver al inicio</a>

    </form>
</body>
</html>
