<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='resultados.css') }}">
</head>
<body>

    <div class="result-container">
        <h2>Tus respuestas</h2>
        <ul>
            {% for i, respuesta in respuestas %}
                <li><strong>Pregunta {{ i }}:</strong> {{ respuesta }}</li>
            {% endfor %}
        </ul>
        
        <a href="/">Volver a la encuesta</a>
    </div>

</body>
</html>
