<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='resultados.css') }}">
</head>
<body>
        <h2>Resultados de la Encuesta</h2>
        <div id="result-container">
            <p>Tus respuestas:</p>
            <ul>
                {% for num, respuesta in respuestas %}
                    <div><strong>Pregunta {{ num }}:</strong> {{ respuesta }}</div>
                {% endfor %}
            </ul>
            {% for estadistica in estadisticas %}
            <p>
                Puntuacion en A: {{estadistica}}%
            </p>
            {% endfor %}
        </div>
        <a href="/">Volver al inicio</a>
</body>
</html>
